<mat-toolbar class="menu">
    
    <div class="title">
        <h1 class="menu-title">Mestre das pizzas</h1>
    </div>

    <div class="menu-items" *ngIf="screenWidth > 768">
        <ul class="menu-list">
            <a routerLink="" class="menu-list-item"><li>Início</li></a>
            <a routerLink="" class="menu-list-item"><li>Cardápio</li></a>
            <a routerLink="" class="menu-list-item"><li>Promoções</li></a>
        </ul>
        <button mat-icon-button aria-label="">
            <mat-icon class="cart-icon">shopping_cart</mat-icon>
        </button>
    </div>

    <div class="menu-items" *ngIf="screenWidth < 768">
        <button mat-button class="menu-button" [matMenuTriggerFor]="menu"><mat-icon style="color: white;">menu</mat-icon></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Início</button>
            <button mat-menu-item>Cardápio</button>
            <button mat-menu-item>Promoções</button>
        </mat-menu>
        <button mat-icon-button aria-label="">
            <mat-icon class="cart-icon">shopping_cart</mat-icon>
        </button>
    </div>

</mat-toolbar>
