<div class="container">
    <h2>As mais pedidas</h2>
    <div class="row">
        <app-pizza-card *ngFor="let pizza of pizzas" [pizza]="pizza"></app-pizza-card>
    </div>

    <h2>Tradicionais</h2>
    <div class="row">
        <app-pizza-card *ngFor="let pizza of pizzas" [pizza]="pizza"></app-pizza-card>
    </div>

    <h2>Especiais</h2>
    <div class="row">
        <app-pizza-card *ngFor="let pizza of pizzas" [pizza]="pizza"></app-pizza-card>
    </div>

    <h2>Premium</h2>
    <div class="row">
        <app-pizza-card *ngFor="let pizza of pizzas" [pizza]="pizza"></app-pizza-card>
    </div>
</div>
