<h1 mat-dialog-title>Faça seu pedido a seguir.</h1>
<div mat-dialog-content>
    <form class="form" [formGroup]="orderForm">
        <mat-form-field appearance="fill">
            <mat-label>Tamanho da pizza</mat-label>
            <mat-select formControlName="size">
                <mat-option value="Broto">Broto</mat-option>
                <mat-option value="Média">Média</mat-option>
                <mat-option value="Grande">Grande</mat-option>
                <mat-option value="Gigante">Gigante</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Sabor 1</mat-label>
            <mat-select formControlName="flavorOne">
                <mat-option *ngFor="let pizza of pizzas" [value]="pizza">{{pizza.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Sabor 2</mat-label>
            <mat-select formControlName="flavorTwo">
                <mat-option *ngFor="let pizza of pizzas" [value]="pizza">{{pizza.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Sabor 3</mat-label>
            <mat-select formControlName="flavorThree">
                <mat-option *ngFor="let pizza of pizzas" [value]="pizza">{{pizza.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Sabor da borda</mat-label>
            <mat-select formControlName="border_flavor">
                <mat-option value="Cheddar">Cheddar</mat-option>
                <mat-option value="Catupiry">Catupiry</mat-option>
                <mat-option value="Chocolate">Chocolate</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Observações</mat-label>
            <textarea matInput formControlName="observation"></textarea>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions class="buttons">
    <button mat-button class="close-button" (click)="disposeOrder()">Close</button>
    <button mat-button class="add-button" (click)="addOrder()">Adicionar ao pedido</button>
</div>
